<div class="dashboard-container">
  <div class="content">
    <div id="chart">
      <apx-chart [title]="title" [series]="series" [chart]="chart" [xaxis]="xaxis"></apx-chart>
      <br/>
      <div *ngIf="!displayErrorMessage && !displayMarketClosedMessage">
        <h4>Current price: {{ sharePrice !== null ? sharePrice : 'Loading... please be patient' }}</h4>
      </div>

      <div *ngIf="displayErrorMessage">
        <h4>Current price: the data could not be retrieved at this time</h4>
      </div>
    </div>
  </div>
  
  <div class="sidebar">
    <form [formGroup]="optionsForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="symbol">Symbol:</label>
        <input id="symbol" type="text" formControlName="symbol">
      </div>
      <div>
        <label for="interval">Interval:</label>
        <select id="interval" formControlName="interval">
          <option value="30min">30 mins</option>
          <option value="1h">1 hour</option>
          <option value="4h">4 hours</option>
          <option value="8h">8 hours</option>
          <option value="1day">1 day</option>
          <option value="1week">1 week</option>
          <option value="1month">1 month</option>
        </select>
      </div>
      <div>
        <label for="startDate">Start Date:</label>
        <input id="startDate" type="date" formControlName="startDate">
      </div>
      <div>
        <label for="endDate">End Date:</label>
        <input id="endDate" type="date" formControlName="endDate">
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!optionsForm.valid">Submit</button>
    </form>
  </div>
</div>

<!-- <div id="chart">
  <apx-chart [title]="stockMarketApiService.title" [series]="stockMarketApiService.series" [chart]="stockMarketApiService.chart" [xaxis]="stockMarketApiService.xaxis"></apx-chart>
</div> -->
