<form [formGroup]="optionsForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="symbol">Symbol:</label>
      <input id="symbol" type="text" formControlName="symbol">
    </div>
    <div>
      <label for="interval">Interval:</label>
      <select id="interval" formControlName="interval">
        <option value="1day">1 day</option>
        <option value="2day">2 days</option>
        <option value="3day">3 days</option>
        <option value="1week">1 week</option>
        <option value="1month">1 month</option>
        <option value="1year">1 year</option>
      </select>
    </div>
    <div>
      <label for="startDate">Start Date:</label>
      <input id="startDate" type="date" formControlName="startDate">
    </div>
    <div>
      <label for="endDate">End Date:</label>
      <input id="endDate" type="date" formControlName="endDate">
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!optionsForm.valid">Submit</button>
</form>